version: "3"
services:

  mysqldb:
    container_name: mysqldb
    image: mysql:latest
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=stationSki

    volumes:
      - db:/var/lib/mysqldb

  Subscription:
    image: oumaima1115/5twin5-onezero-skistation:latest
    restart: on-failure
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/stationSki?createDatabaseIfNotExist=true
      - spring.datasource.username=root
      - spring.datasource.password=
    ports:
      - 8083:8083
    depends_on:
      - mysqldb

  spring_app:
    image: tahersn/tahersnoussi-5twin5-g5-skistation:${IMAGE_TAG}
    container_name: spring_app
    restart: on-failure
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/stationSki?autoReconnect=true&useSSL=false
      - spring.datasource.username=root
      - spring.datasource.password=
    ports:
      - 8089:8089
    depends_on:
      - mysqldb
    stdin_open: true
    tty: true
    volumes:
     - .m2:/root/.m2

  cadvisor:
   container_name: cadvisor
   image: gcr.io/cadvisor/cadvisor:latest
   ports:
    - "9091:8080"
   volumes:
    - "/:/rootfs"
    - "/var/run:/var/run"
    - "/sys:/sys"
    - "/var/lib/docker/:/var/lib/docker"
    - "/dev/disk/:/dev/disk"
   privileged: true
   devices:
    - "/dev/kmsg"

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    privileged: true
    depends_on:
      - cadvisor

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - DS_PROMETHEUS=prometheus
    volumes:
      - "grafana-data:/var/lib/grafana"
      - "./datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml"
      - "./:/var/lib/grafana/dashboards"
      - "./default.yaml:/etc/grafana/provisioning/dashboards/default.yaml"
    privileged: true
    depends_on:
      - prometheus
volumes:
  db:
  grafana-data:
